
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profil sayfasi</h2>
<div class="container">
    <p>Telefon:05525223620</p>
    <p>Adres:Hatay/Defne</p>
    <p>Meslek:web developer</p>
</div>

